@media (min-width: 992px) {
	.annonce-item:first-child {
		position: relative; 
		height:370px;
	}

	.annonce-item:first-child .annonce-item__box {
		float: left;
		height: 100%;
		padding: 30px;
		position: absolute;
		top: 0;
		width: 35%;
	}

	.annonce-item:first-child .annonce-item__box::before {
		display: none;
	}

	.annonce-item:first-child .annonce-item__img {
		float: right;
		height: inherit;
		width: 65%;
	}

	.annonce-item:first-child .annonce-item__title {
		font-size:2.86rem;
	}

	.annonce-item:first-child .annonce-item__description {
		position:relative;
		font-size:1.14rem;
		height:110px;
	}

	.annonce-item:first-child .announce-item__hash-tags {
		font-size:0.86rem;
		margin-top: -35px;
	}

	.annonce-item:first-child .annonce-item__box::after {
		bottom: 20px;
		height: auto;
		left: 100%;
		right: auto;
		top: 20px;
		width: 10px;
	}

	.annonce-item:first-child .annonce-item__description::after {
		content: "";
		display: block;
		height: 4px;
		margin-top: 17px;
		position: absolute;
		width: 70px;
	}

	.annonce-item:first-child .annonce-item__box--plugins .annonce-item__description::after {
		background: #ffde1c;
	}

	.annonce-item:first-child .annonce-item__box--blog .annonce-item__description::after {
		background: #ea1b1b;
	}
}

@media all and (max-width:991px) {

.mainMenu__title {font: 0.9rem/normal arial; padding: 6px 0; border-bottom: 1px solid #393939;}

.fullwidth ul.menu > li > a {padding: 6px 0;}

.fullwidth ul.menu > li a::before {border-color: transparent;}

.mainMenu-nav li.level0 > div.fullwidth {
	padding: 0;
	margin: 0;
}

.mainMenu-nav li.level0 > div {
	background: none;
	visibility: visible;
	border:0;
	opacity: 1;
	position: static;
	box-shadow: none;
}

.mainMenu-nav li.level0 {display: block; padding: 0;}

.mainMenu-nav li.level0 > .mainMenu__catItem {
    border-bottom: 1px solid #393939;
	border-radius: 0;
    font: 0.9rem arial;
	color: inherit;
    margin: 0;
    padding: 6px 0;
}

.mainMenu-nav li.level0 > div.wrap_submenu {
	min-width: none;
	padding: 0;
	margin: 0;
}

.fullwidth ul.menu > li > a {padding: 0;}

.fullwidth ul.menu > li > a:hover {color:#ffffff;}

	.topheader .topheader-right .sns-quickaccess {
		width: 36px; height: 36px; border-right-color: rgb(235, 235, 235); border-left-color: rgb(235, 235, 235); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; position: relative; cursor: pointer;
	}
	.topheader .topheader-right .sns-quickaccess .welcome {
		display: none;
	}
	.topheader .topheader-right .sns-quickaccess ul.links {
		background: rgb(255, 255, 255); margin: 0px; padding: 0px; transform-origin: 50% 10% 0px; border: 1px solid rgb(235, 235, 235); transition:0.4s ease-out; border-image: none; left: -1px; top: 35px; width: 160px; position: absolute; opacity: 0; transform: scale(0); -webkit-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; -webkit-transform: scale(0); -o-transform: scale(0); -webkit-transform-origin: 50% 10% 0; -moz-transform-origin: 50% 10% 0; -o-transform-origin: 50% 10% 0; -moz-transform: scale(0);
	}
	.topheader .topheader-right .sns-quickaccess:hover ul.links {
		opacity: 100; transform: scale(1); -webkit-transform: scale(1); -o-transform: scale(1); -moz-transform: scale(1);
	}
	.topheader .topheader-right .sns-quickaccess::before {
		left: 9px; top: 0px; color: rgb(144, 144, 144); line-height: 34px; font-family: FontAwesome; font-size: 16px; position: absolute; z-index: 1; cursor: pointer; content: "\f13d";
	}
	
	.descrArticle {
		margin-left:10px;
		margin-right:10px;
	}

	.article {
		margin-left:0;
		margin-right:0;
		column-count: 1;
		-moz-column-count: 1;
		-webkit-column-count: 1;
	}

		body {letter-spacing: 0;}

	#menu .nav-right {
		padding: 0px; margin-right: 15px; margin-bottom: 15px; float: right;
	}
	#menu #mainnav {
		float: left;
	}

	.article {
		column-count: 1;
		-moz-column-count: 1;
		-webkit-column-count: 1;
	}

.overlay {
    background: #000;
    bottom: 0;
    content: "";
    cursor: pointer;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.2;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9998;
}

.mainMenu-nav li {list-style:none;}

.mainMenu-nav .has-child li,
.mainMenu-nav .title {
	border-bottom: 1px solid #393939;
	font-size: 0.9rem;
	display:block;
    padding: 6px 0;
}

.mainMenu-nav .title {cursor:pointer}


.mainMenu-nav a:hover,
.mainMenu-nav .title:hover,
.mainMenu-nav .title.open {color: #ffffff;}

.mainMenu__input ~ .mainMenu-nav {
	display:block!important;
	background: #222;
    color: #b9b9b9;
    height: 100%;
    left: -250px;
    opacity: 0;
    overflow: auto;
    padding: 20px 20px 50px;
    position: fixed;
    top: 0;
    transition: all 0.3s ease-in 0s;
	-webkit-transition: all 0.3s ease-in 0s;
    width: 250px;
    z-index: 9999;
}

.mainMenu-nav .menu {padding-left:15px;}
.mainMenu-nav .menu a {display:block}

.mainMenu__input:checked ~ .mainMenu-nav {
	left: 0px;
	opacity: 1;
}

.mainMenu__input ~ .mainMenu-nav .title + .menu,
.mainMenu__input ~ .mainMenu-nav .title + .wrap_submenu .menu {overflow:hidden;height:0px;}
.mainMenu__input ~ .mainMenu-nav .title.open + .menu,
.mainMenu__input ~ .mainMenu-nav .title.open + .wrap_submenu .menu {height:auto}
.mainMenu__input:checked ~ .mainMenu__overlay {
	display:block!important;
}

.mainMenu .fa::before {
    content: "+";
}

.mainMenu .fa.open::before {
    content: "-";
}
.mainMenu {
	background: #00688a;
	background: -moz-linear-gradient(left,  #00688a 0%, #0079a8 50%, #0695a5 100%);
	background: -webkit-linear-gradient(left,  #00688a 0%,#0079a8 50%,#0695a5 100%);
	background: linear-gradient(to right,  #00688a 0%,#0079a8 50%,#0695a5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00688a', endColorstr='#0695a5',GradientType=1);
}

.mainMenu .menu {display:none}

.mainMenu-nav .fa.open ~ ul {
    display: block;
}

}


@media (max-width: 767px) {
	._main_wrap {padding-top: 250px;}
    header.page-entry h1 {padding: 0 10px; font-size: 24px;}
    header.page-entry h1 > span {display: block; margin-bottom: 15px;}
    header.page-entry.container {padding-left: 10px; padding-right: 10px; margin-bottom: 0; padding-top: 10px;}
    
    .right-column {margin-top: 30px;}
    
    header.page-entry .newsletter-signup {margin-bottom: 30px; padding: 0 10px;}
    .collapse {height: 0px; overflow: hidden;}

	section.main-hero {margin-bottom: 0;}
    section.main-hero.container {padding-left: 10px; padding-right: 10px;}
    
    section .main-entry header {position: relative; top: inherit; bottom: inherit; left: inherit;}
    section .main-entry, section .main-entry.item {margin-bottom: 40px;}
    section .main-entry .main-entry-title {font-size: 18px;}
    
    .left-column section .main-entry .main-entry-title {font-size: 14px;}
    .left-column section .main-entry a header {padding: 8px 10px;}
    
    section.main-hero.archive {margin: 0 10px 30px;}
    section.main-hero.archive .annonce-item .info {padding: 20px 10px;}
    section.main-hero.archive .annonce-item .info .post-title {font-size: 18px; margin-top: 10px;}
    section.main-hero.archive .annonce-item .info .post-option {position: relative; top: inherit; left: inherit; text-align: left; padding: 0;}
    
    section.main-hero.archive.single {margin: 0 0 30px;}
    section.main-hero.archive.single .annonce-item .info .post-option {padding: 10px 0 0 0;}
    section.main-hero.archive.single.article .annonce-item .info .post-share {float: none; margin-top: 10px; display: block;}
    
    section.main-hero.archive.single.hero {margin-left: -10px; margin-right: -10px; margin-bottom: 30px;}
    section.main-hero.archive.single.hero header,
    section.main-hero.archive.single.hero header.game-review {position: relative; background: rgba(0,0,0,0.80); top: inherit; padding: 5px 0;}
    section.main-hero.archive.single.hero header.game-review h1.h1 {margin-top: 10px; margin-bottom: 10px;}
    section.main-hero.archive.single.hero .main-entry img {width: 100%; max-width: 100%;}
    
    section .annonce-gallery:nth-of-type(1) {margin: 0;}
    section .annonce-gallery .post header {position: absolute; bottom: 0; left: 0;}
    
    section.main-hero.archive.single.article .newsletter-signup {padding: 0 0 30px 0;}
    
    section.main-hero.archive.single.hero header.game-review .overall-game-score {position: absolute; top: -80px; right: 10px;}

	section.blog-content {padding-left: 10px; padding-right: 10px;}
    
    .annonce-item {min-height: inherit;}
    .annonce-item .image img {width: 100%;}
    .annonce-item .info {padding: 10px;}
    .annonce-item .info .post-title {font-size: 18px; line-height: 1.4;}
    
    section.blog-content.single .annonce-item h2.post-title {font-size: 24px;}

	.sideBox-item {min-height: inherit;}
    
    section.post-listings.side-widget.box {padding: 20px;}

	section.related_posts {margin-left: -10px; margin-right: -10px;}

	section.game-review-rating {margin-top: 20px; padding-top: 20px;}
    section.game-review-rating .right-column {float: none; margin-top: 0;}

	#header {
		padding-bottom: 0px;
	}
	.header-logo {
		text-align: center; padding-bottom: 14px;
	}
	.search {
		padding: 10px; border-top-color: rgb(233, 233, 233); border-top-width: 1px; border-top-style: solid;
	}

    .annonce-item-info {padding: 10px 0;}

	#mommenu .mainMenu-nav .accr_header {
		padding: 6px 0px; border-bottom-color: rgb(57, 57, 57); border-bottom-width: 1px; border-bottom-style: solid;
	}

	#mommenu .btn2 .overlay {
		background: rgb(0, 0, 0); left: 0px; top: 0px; width: 100%; height: 100%; right: 0px; bottom: 0px; display: none; position: fixed; z-index: 9998; cursor: pointer; content: ""; opacity: 0.2;
	}
	#mommenu .collapse_wrap {
		background: rgb(34, 34, 34); left: 0px; top: 100%; width: 100%; position: absolute; z-index: 9999;
	}
	#mommenu .collapse_wrap::before {
		background: rgb(34, 34, 34); left: -1000px; top: 0px; height: 100%; right: -1000px; bottom: 0px; display: none; position: absolute; z-index: -1; content: "";
	}
	.mainMenu-list ul {
		padding: 0;
	}
	#mommenu #menu_collapse a {
		color: rgb(185, 185, 185);
	}
	#mommenu #menu_collapse a:hover {
		color: rgb(255, 255, 255);
	}
	.mainMenu-list {
		background: rgb(34, 34, 34); padding: 20px; transition:0.3s ease-in; left: -250px; top: 0px; width: 250px; height: 100%; color: rgb(185, 185, 185); overflow: auto; position: fixed; z-index: 9999; opacity: 0; -webkit-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in;
	}
	.mainMenu-list > ul {
		padding-bottom: 50px;
	}
	#mommenu .active#menu_offcanvas {
		left: 0px; opacity: 1;
	}


	.mainMenu-list a {
		color: rgb(185, 185, 185);
		font-family: Arial;
		font-size: 12px;
		font-weight: 300;
		padding:0;
	}
	.mainMenu-list a:hover {
		color: rgb(255, 255, 255);
	}

	.descrArticle {margin:10px 0 0;}

	.ecran {min-height: 250px; padding: 5px 0;}

	@keyframes smallLoading{
		16.67%{box-shadow:-17px -30px 0 10px #76bdd1, 17px -30px 0 10px #6cce74, 35px 0px 0 10px #c18d46, 17px 30px 0 10px #c14745, -17px 30px 0 10px #2e1e5b, -35px 0px 0 10px #9c37a6;}
		33.33%{box-shadow:-17px -30px 0 10px #9c37a6, 17px -30px 0 10px #76bdd1, 35px 0px 0 10px #6cce74, 17px 30px 0 10px #c18d46, -17px 30px 0 10px #c14745, -35px 0px 0 10px #2e1e5b;}
		50%{box-shadow:-17px -30px 0 10px #2e1e5b, 17px -30px 0 10px #9c37a6, 35px 0px 0 10px #76bdd1, 17px 30px 0 10px #6cce74, -17px 30px 0 10px #c18d46, -35px 0px 0 10px #c14745;}
		66.67%{box-shadow:-17px -30px 0 10px #c14745, 17px -30px 0 10px #2e1e5b, 35px 0px 0 10px #9c37a6, 17px 30px 0 10px #76bdd1, -17px 30px 0 10px #6cce74, -35px 0px 0 10px #c18d46;}
		88.88%{box-shadow:-17px -30px 0 10px #c18d46, 17px -30px 0 10px #c14745, 35px 0px 0 10px #2e1e5b, 17px 30px 0 10px #9c37a6, -17px 30px 0 10px #76bdd1, -35px 0px 0 10px #6cce74;}
		100%{transform:rotate(-360deg);box-shadow:-17px -30px 0 10px #6cce74, 17px -30px 0 10px #c18d46, 35px 0px 0 10px #c14745, 17px 30px 0 10px #2e1e5b, -17px 30px 0 10px #9c37a6, -35px 0px 0 10px #76bdd1;}
	}

	.container {padding-left: 10px; padding-right: 10px;}

	.formSearch-query {padding: 5px 10px; height:30px;-webkit-border-radius: 15px; border-radius: 15px;}
	.formSearch-btn {top: 3px; right: 6px;}

	header.page-entry > .row {margin: 0;}
    header.page-entry .newsletter-signup {padding-left: 0; padding-right: 0; margin-bottom: 10px;}
    .blog_menu .item ul li a {padding: 20px 10px;}
	
	section.main-hero.container {padding-left: 10px; padding-right: 10px;}
    
    section.main-hero.archive .annonce-item .info {padding: 20px;}
    section.main-hero.archive .annonce-item .info .post-option {position: relative; top: inherit; left: inherit; text-align: left; padding: 0}
    
    section.main-hero.archive.single .annonce-item .info .post-option {padding: 10px 0 0 0;}
    section.main-hero.archive.single.article .annonce-item .info {padding: 0;}
    
    section.main-hero.archive.single.hero {margin-left: -10px; margin-right: -10px;}
    
    section .main-entry .main-entry-title {font-size: 18px;}
    section .main-entry .main-entry-title {font-size: 12px;}
    
    section.main-hero.archive.single.article .newsletter-signup {padding: 0 10px 30px 0;}

	section.blog-content {padding-left: 10px; padding-right: 10px;}
    section.blog-content.archive h2 {margin: 0 10px 20px;}
    
    .annonce-item {min-height: 98px;}
    .annonce-item .annonce-item-title {font-size: 14px; line-height: 1.4;}
    
    
    section.blog-content.single .annonce-item h2.post-title {font-size: 30px;}

	 section.post-listings.side-widget {padding: 0 10px;}
    .sideBox-item {padding: 0;}
    .sideBox-item .image {padding: 0;}
    .sideBox-item .info {padding: 10px 0;}
    
    
    .sideBox-item.discussion .info {padding: 10px 0;}
    
    section.post-listings.side-widget.box {padding: 20px;}

	section.related_posts {margin-left: -10px; margin-right: -10px;}

	.mainMenu-btn {margin: 7px 0; width: 26px; height: 26px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}

	.mainMenu-btn i,
	.mainMenu-btn i:after {
		border: 2px solid #ffffff;
		position:relative;
		border-width: 1px 0;
		margin: 7px 5px;
		display:block;
		height: 7px;
		width:14px;
	}

	.mainMenu-btn i:after {
		margin:0;
		position:absolute;
		content:"";
		top:2px;
		left:0;
	}

	.topheader .topheader-left {
		display:none;
	}
	.topheader .topheader-left::before {
		left: 8px; top: 0px; width: 100%; height: 100%; line-height: 34px; font-family: FontAwesome; font-size: 16px; position: absolute; cursor: pointer; content: "\f0c0";
	}
	.topheader .topheader-left ul.contact-us-now {
		background: rgb(255, 255, 255); border: 1px solid rgb(235, 235, 235); transition:0.4s ease-out; border-image: none; left: -1px; top: 35px; width: 160px; position: absolute; opacity: 0; transform: scale(0); -webkit-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; -webkit-transform: scale(0); -o-transform: scale(0); -moz-transform: scale(0);
	}
	.topheader .topheader-left ul.contact-us-now li {
		margin: 0px 10px; border-top-color: rgb(235, 235, 235); border-top-width: 1px; border-top-style: solid; float: none; display: block;
	}
	.topheader .topheader-left ul.contact-us-now li:first-child {
		margin-left: 10px; border-top-color: currentColor; border-top-width: medium; border-top-style: none;
	}
	.topheader .topheader-left:hover ul.contact-us-now {
		opacity: 100; transform: scale(1); -webkit-transform: scale(1); -o-transform: scale(1); -moz-transform: scale(1);
	}

}

@media  all and (max-width:991px) and (-Webkit-min-device-pixel-ratio: 1.5),
        all and (max-width:991px) and  (-moz-min-device-pixel-ratio: 1.5),
        all and (max-width:991px) and  (-o-min-device-pixel-ratio: 3/2),
        all and (max-width:991px) and  (min-device-pixel-ratio: 1.5) {
            body {font-size: 17px; line-height:1.5;}
        }

@media (-Webkit-min-device-pixel-ratio: 1.5),
(-moz-min-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 3/2),
(min-device-pixel-ratio: 1.5),
(min-resolution: 1.5dppx) {
  .article {
	-moz-column-count: 1;
	-webkit-column-count: 1;
	column-count: 1;
  }
}